body {
    color: white !important;
}

#global-holder {
    background-image: url(/img/blue-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#btn-answer, #btn-refresh {
    border: 1px solid none;
    background-color: gray;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;  
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#btn-answer:hover, #btn-refresh:hover {
    background-color: transparent;
    color: #14161A;
}

#joke-ans {
    height: 30px;
    width: fit-content;
    padding: 5px;
}

#joke-holder {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
}