body {
    font-family: sans-serif;
    background-image: url(/img/blue-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#global-holder {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#joke-holder {
    margin: 10% auto;
    max-width: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
    border-radius: 8px;
}

.title {
    color: #8DA4D0;
}

#joke-dis, #joke-ans {
    color: #ABB1BF;
}

.button {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px 20px;
    width: 100px;
    background-color: #8DA4D0;
    transition: 0.5s ease-in-out;
}

.button:hover {
    background-color: aliceblue;
    color: #8DA4D0;
    border: 2px solid #8DA4D0;
}

.button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }
  
  .button.disabled::after {
    content: " (Clicked)";
    font-size: 14px;
    color: #666;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
  }


@media screen and (max-width: 768px) {
    #joke-holder {
        max-width: 95%;
    }
    .title {
        font-size: 1.5rem; 
    }
    .p {
        font-size: 1rem;
    }
}